---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Imports partials
@import "normalize";
@import "typography";
@import "home";
@import "b-side";
@import "about";
@import "anti-bootstrap";
@import "info-modal";
@import "nav";
@import "hue";
@import "quote-generator";
@import "music-on-the-hill";
@import "bawlamers-feuilleton";
@import "bike-in-park-out";
@import "what-you-say";
@import "typographic-interventions";
@import "cine-rodoviaria";
@import "cnm-headquarters";
@import "rio-2016-olympic-park";
@import "nmaahc";
@import "typographic-portrait";

// Mixins
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// General Code
html, body{
  height:100%;
  @include font-smoothing();
  font-family: "sommet", sans-serif;
  font-feature-settings: "onum" on;
  position:relative;
}

.hidden-body-name,
.hidden-nav-name,
.hidden-page-name,
.hidden-section-name {
  position:absolute;
  top:0;
  left:-9999px;
}

footer{
  height:3.5rem;
  background: lighten(#000, 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom:0px;
  
  p{
    margin:0;
    @include regular();
    color:#fff;
    font-size: 15.5px;
    font-feature-settings: "onum" on;
  }
  
}
