---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Imports partials
@import "normalize";
@import "home";
@import "anti-bootstrap";
@import "info-modal";
@import "hue";
@import "quote-generator";
@import "music-on-the-hill";
@import "bawlamers-feuilleton";
@import "bike-in-park-out";
@import "what-you-say";
@import "typographic-interventions";
@import "cine-rodoviaria";
@import "cnm-headquarters";
@import "rio-2016-olympic-park";
@import "typographic-portrait";

// Mixins
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// General Code
html, body{
  background: lighten(#000, 85%);
  height:100%;
  @include font-smoothing();
  font-family: "sommet";
}

.hidden-body-name,
.hidden-nav-name,
.hidden-page-name,
.hidden-section-name {
  position:absolute;
  top:0;
  left:-9999px;
}

footer{
  height:4rem;
  background: lighten(#000, 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  
  p{
    margin:0;
    @include regular();
    color:#fff;
    font-size: 14.5px;
    font-feature-settings: "onum" on;
  }
  
}

nav{
  position:fixed;
  background: rgba(255,255,255, .8);
  width: 100%;
  height:55px;
  z-index:100;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
    
  .nav-wrapper{
    color:lighten(#000, 15%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
    
  .title{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    font-size:23px;
    @include heavy();
    letter-spacing: .02rem;
  }
      
  .menu{
    font-size: 12.5px;
    letter-spacing: .03rem;
    text-transform: uppercase;
  }
  
}
