<head>
  <title>Estúdio Porto | {{ page.title | remove: "<br>" }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="{{ site.baseurl}}/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://use.typekit.net/kda0cpw.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://use.fontawesome.com/22bf4ca96f.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl}}/css/lightbox.css">
  <link rel="stylesheet" href="{{ site.baseurl}}/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{{ site.baseurl}}/css/owl.theme.default.css">
</head>
