<nav>
  <div class="container">
    <div class="nav-wrapper">
      <div class="title">    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          	 viewBox="0 0 265 241" style="enable-background:new 0 0 265 241;" xml:space="preserve">
          <style type="text/css">
          	.st0{fill:#B2F6F9;}
          	.st1{fill:#72DBC9;}
          	.st2{fill:#FFFFFF;}
          	.st3{fill:#2A2C2B;}
          	.st4{fill:#B1B2AB;}
          	.st5{fill:#919191;}
          	.st6{fill:#262626;}
          	.st7{fill:#333333;}
          	.st8{fill:#E2E2E2;}
          	.st9{fill:#BABABA;}
          </style>
          <defs>
            <filter id="dropshadow" x="-25%" y="-25%" width="150%" height="150%">
              <feGaussianBlur in="SourceAlpha" stdDeviation="15" /> <!-- stdDeviation is how much to blur -->
              <feOffset dx="0" dy="0" /> <!-- how much to offset -->
              <feComponentTransfer>
                <feFuncA type="linear" slope="0.7"/> <!-- opacity of the dropshadow -->
              </feComponentTransfer>
              <feMerge>
                <feMergeNode/> <!-- this contains the offset blurred image -->
                <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
              </feMerge>
            </filter>
          </defs>
          <g>
          	<circle id="sky" class="st0" cx="144.7" cy="119.3" r="82.2"/>
          	<path id="sea" class="st1" d="M229,122.8c0,49.3-37.7,84.3-84.3,84.3s-84.3-35-84.3-84.3H229z"/>
          	<path class="st7" style="filter:url(#dropshadow)" height="200%" d="M144.7,13c-59.6,0-108,48.4-108,108c0,59.6,48.4,108,108,108c59.6,0,108-48.4,108-108
          		C252.7,61.4,204.4,13,144.7,13z M144.7,197.9c-43.4,0-78.6-35.2-78.6-78.6s35.2-78.6,78.6-78.6s78.6,35.2,78.6,78.6
          		S188.1,197.9,144.7,197.9z"/>
          	<path class="custom-black" d="M144.7,1.7C78.8,1.7,25.4,55.1,25.4,121c0,65.9,53.4,119.3,119.3,119.3c65.9,0,119.3-53.4,119.3-119.3
          		C264,55.1,210.6,1.7,144.7,1.7z M144.7,223.8c-56.8,0-102.8-46-102.8-102.8c0-56.8,46-102.8,102.8-102.8
          		c56.8,0,102.8,46,102.8,102.8C247.5,177.8,201.5,223.8,144.7,223.8z"/>
          </g>
          </svg>Estúdio Porto</div>
      <div class="menu">About</div>
    </div>
  </div>
</nav>
