// Variables
$transition-time:.2s;

// Color Mixins
@mixin background-offwhite() {
  background: #fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fff, #f5f5f5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fff, #f5f5f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Code
#about{
  @include background-offwhite();
  min-height: calc(100% - 3.5rem);
  color:lighten(#000, 15%);
    
  .general-wrapper{
    display:flex;
    padding-top:calc(5rem + 55px);
    padding-bottom:14rem;
    justify-content: center;
  }
  
  .left-column{
    margin-right:3.5rem;
    width:130px;
    
    .intro{
      margin-top:calc(150px + 3rem);
      padding:1rem 0;
      @include black();
      font-size: 18px;
      border-top:1px solid #eee;
      border-bottom:1px solid #eee;
      line-height: 1.45;
    }
    
  }
  
  .center-column{
    width:410px;
    display: flex;
    flex-direction: column;
    align-items:center;
    
    .picture{
      height:150px;
      width: 150px;
      border-radius:50%;
      margin-bottom:3rem;
    }
    
    .intro{
      margin-top:calc(150px + 3rem);
      padding:1rem 0;
      @include black();
      font-size: 18px;
      border-top:1px solid #eee;
      border-bottom:1px solid #eee;
      line-height: 1.45;
    }
    
    .description{
      border-top:1px solid #eee;
      border-bottom:1px solid #eee;
      padding:1rem 0;
      @include regular();
      font-size:17.5px;
      line-height: 1.55;
      
      .uppercase{
        @include heavy();
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.07rem;
      }
      
      a{
        color:lighten(#000, 15%);
        transition:$transition-time;
        text-decoration: underline;

        &:hover{
          opacity:.8;
        }
        
      }
      
    }
    
    .contact{
      width:100%;
      font-size: 19px;
      color:lighten(#000, 75%);
      margin-top:2rem;
      display: flex;
      justify-content: flex-end;
    
      i{
        margin-left:2rem;
      }
    
    }
    
  }
  
  
  
  
  
  
  
  
  
  


  .project{
    margin:2rem .9rem 0 .9rem;
    text-align: center;
    padding-top:2rem;
    width:210px;

    .image{
      position:relative;
      height:70px;
      width:70px;
      border-radius: 50%;
      margin:0 auto;
      filter: contrast(1.5) grayscale(1);
      transition: $transition-time;
    }
    
    .image-shadow{
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height:100%;
      border-radius: 50%;
      box-shadow: inset 0 0 15px lighten(#000, 30%);
      z-index: 10;
    }

  }
  
  //Media Queries
  @media (max-width:479px) {
    
    .projects-wrapper{
      padding-top:calc(1rem + 55px);
    }
    
  }
  
}
