// Code
#about{
  min-height: 100%;
  
  .general-wrapper{
    padding-top:5rem;
    padding-bottom:20rem;
    width:100%;
  }
  
  .picture-wrapper{
    width:100%;
    padding-bottom:2rem;
  }
      
  .picture{
    height:200px;
    min-width:200px;
    width:200px;
    border-radius: 50%;
  }
  
  .contact{
    font-size: 20px;
    margin-top:1rem;
    width:200px;
    margin-top:1rem;

    a{
      color:lighten(#000,75%);
      transition:$transition-time;
      display: block;
      border-top:1px solid rgba(0,0,0,0.07);
      width:100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom:.8rem;
      padding-top:.8rem;

      &:hover{
        color:lighten(#000, 15%);
        text-decoration: none;
      }
      
    }
    
    .fa-envelope{
      font-size: 16px;
    }

  }
  
  .text-wrapper{
    border-top:1px solid rgba(0,0,0,0.07);
    padding-top:1.5rem;
    
    p{
      margin-bottom:20px;
    }
    
  }
  
  .intro-wrapper{
    @include gitan-semibold();
    font-size: 16.5px;
    line-height:1.55;
  }
    
  .description{
    @include gitan-regular();
    font-size:16.5px;
    line-height:1.6;
    
    .uppercase{
      text-transform: uppercase;
      font-size: 13.5px;
      @include gitan-medium();
      letter-spacing: 0.03rem;
    }
    
    a{
      @include gitan-italic();
      color:#000;
      transition:$transition-time;
      text-decoration: underline;

      &:hover{
        opacity:.8;
      }
      
    }
    
  }
  
}
