// Code
#about{
  min-height: 100%;
  
  .general-wrapper{
    padding-top:5rem;
    padding-bottom:20rem;
    width:100%;
    display: flex;
    justify-content: center;
  }
    
  .column-wrapper{
    max-width:700px;
    display: flex;
    // flex-direction: column;
  }
  
  .picture-contact-wrapper{
    width:100%;
    // display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom:1px solid #eee;
    padding-bottom:2rem;
    margin-bottom:3rem;
  }
      
  .picture{
    height:180px;
    min-width:180px;
    width:180px;
    border-radius:50%;
    padding-right:2rem;
  }
  
  .contact{
    font-size: 20px;

    a{
      margin-left:1.2rem;
      color:lighten(#000, 75%);
      transition:$transition-time;

      &:hover{
        color:lighten(#000, 15%);
      }
      
    }
    
    .fa-envelope{
      font-size: 17px;
    }

  }
  
  .intro-wrapper{
    @include gitan-semibold();
    font-size: 16.5px;
    line-height:1.55;
  }
    
  .description{
    @include gitan-regular();
    font-size:16.5px;
    line-height:1.7;
    
    .uppercase{
      text-transform: uppercase;
      font-size: 13px;
      @include gitan-medium();
      letter-spacing: 0.03rem;
    }
    
    a{
      @include gitan-italic();
      color:#000;
      transition:$transition-time;
      text-decoration: underline;

      &:hover{
        opacity:.8;
      }
      
    }
    
  }
      
  //Media Queries
  @media (max-width:799px) {
    
    .contact{
      font-size: 23px;

      a{
        margin-left:1.7rem;
      }
      
      .fa-envelope{
        font-size: 20px;
      }

    }
    
  }
  
  @media (max-width:767px) {
    
    .general-wrapper{
      padding-top:calc(3rem + 55px);
    }
    
  }
  
  @media (max-width:499px) {
    
    .picture-contact-wrapper{
      flex-direction: column;
      justify-content:flex-start;
      align-items:center;
    }
    
    .picture{
      margin-bottom:3rem;
    }
    
    .intro-wrapper{
      display: flex;
      justify-content: center;
      text-align: center;
    }
    
  }
  
}
