// Variables
$background:#ccc;

// Code
#bawlamers-feuilleton{
  background:$background;
  min-height:100%;
  position: relative;

  .left-column{
    padding-top:0.5rem;
  }

  .hands{
    margin-bottom:9rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img{
      mix-blend-mode:color-burn;
      filter:grayscale(1);
      width: 100%;
      cursor: zoom-in;

      &:hover,
      &:active {
          mix-blend-mode:normal;
          filter:none;
      }
      
    }

  }

  .hands:last-child{
    margin-bottom:0rem;
  }

  .right-column{
    padding:5rem 0 20rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img{
      width: 100%;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .3);
      cursor: zoom-in;
    }

  }

}

@media (max-width:1199px) {
  
  #bawlamers-feuilleton{

    .left-column{
      padding-top:1.5rem;
    }

    .hands{
      margin-bottom:8rem;
      margin-right: 2rem;
    }
    
  }

}

@media (max-width:991px) {
  
  #bawlamers-feuilleton{

    .left-column{
      padding-top:2rem;
    }

    .hands{
      margin-bottom:7rem;
      margin-right: 0rem;
    }
  
  }

}

@media (max-width:767px) {
  
  #bawlamers-feuilleton{

    .left-column{
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom:20rem;
    }

    .hands{
      max-width: 320px;

      img{
        cursor: default;
        
        &:hover,
        &:active {
          mix-blend-mode:color-burn;
          filter:grayscale(1);
        }
        
      }

    }
    
    .right-column{
      padding:5rem 0 0rem 0;

      img{
        cursor: default;
      }

    }
    
  }

}
