// Variables
// $serif-text:'Playfair Display', serif;
// $beige:#F9F7ED;
// $transition-time:.2s;
$background: #ddd;

// Code
#bawlamers-feuilleton{
  height:100vh;

  .left-column{
    background: $background;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      max-width: 700px;
    }
  }

  .right-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;

  }

  .hands{
    width: 500px;
    margin-bottom:10rem;
    // border:1px solid #000;
    background: #fff;
  }

}
