// Variables
$background:#ccc;

// Code
#bike-in-park-out{
  background:$background;
  min-height: 100vh;
  padding:8rem 0;

  .bottom-row{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
  }

  .frames{
    margin:0 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 165px;

    img{
      mix-blend-mode:multiply;
      width: 100%;
      cursor: zoom-in;

      &:hover,
      &:active {
          mix-blend-mode:normal;
      }
    }

  }

  .number{
    @include regular();
    margin-top:.8rem;
    font-size:13px;
    text-align: right;
  }

  .text{
    font-size:14px;
  }

  .top-row{
    margin-bottom:4rem;

    .video-wrapper{
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      width: 100%;
    }

    iframe{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: zoom-in;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .3);
    }

  }

  // @media (max-width:1199px) {
  //
  //   .left-column{
  //     padding-top:6.5rem;
  //   }
  //
  //   .hands{
  //     margin-bottom:6rem;
  //     margin-right: 3rem;
  //
  //     img{
  //       width:100%;
  //     }
  //
  //   }
  //
  // }
  //
  // @media (max-width:991px) {
  //
  //   .left-column{
  //     padding-top:7.5rem;
  //   }
  //
  //   .hands{
  //     margin-bottom:5rem;
  //     margin-right: .5rem;
  //
  //
  //     img{
  //       width: 100%;
  //     }
  //
  //   }
  //
  // }
  //
  // @media (max-width:767px) {
  //
  //   .right-column{
  //     padding:10rem 0 0rem 0;
  //   }
  //
  //   .left-column{
  //     padding-top:3rem;
  //     display: flex;
  //     align-items: center;
  //     flex-direction: column;
  //   }
  //
  //   .hands{
  //     margin-bottom:6rem;
  //     max-width: 250px;
  //
  //     img{
  //       width: 100%;
  //     }
  //
  //   }
  //
  //   .hands:last-child{
  //     margin-bottom:6rem;
  //   }
  //
  // }

}
