// Code
#cine-rodoviaria{
  padding:6.5rem 0;

  .img-wrapper{
    margin-bottom:3.5rem;
  }

  .img-wrapper-last{
    margin-bottom:0rem;
  }

  .number{
    @include regular();
    margin-top:.8rem;
    font-size:13px;
    text-align: right;
  }

  img {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .3);
  }

}

// Media Queries

@media (max-width:767px) {

}
