// Code
#cv{
  
  .general-wrapper{
    padding:4rem 0rem 17rem 0rem;
  }
  
  .item{
    padding:3.5rem 0rem;
  }
  
  .left{
  }
  
  .title{
    @include serif-medium();
    font-size: 17.5px;
    line-height:1.5;
  }
  
  .firm-school{
    text-transform: uppercase;
    font-size: 14px;
    @include serif-medium();
    letter-spacing: 0.03rem;
  }
  
  .date-location{
    @include sans-book();
    font-size:14.5px;
    margin-top:.7rem;
  }
    
  .description{
    @include serif-book();
    font-size: 17.5px;
    line-height:1.4;
    
    .uppercase{
      text-transform: uppercase;
      font-size: 14px;
      @include serif-medium();
      letter-spacing: 0.03rem;
    }
    
    a{
      color:#000;
      transition:$transition-time;
      text-decoration: underline;

      &:hover{
        opacity:.8;
      }
      
    }
    
    p:last-child{
      margin-bottom:0;
    }
    
  }
  
  @media (max-width:767px) {
    

  }
  
}
