// Code
#eurasianet{
  @include background-offwhite();
  padding:5rem 0 8rem 0;
  min-height: 100vh;
  
  .full{
    margin-top:3rem;
    margin-bottom:10rem;
  }

  .half{
    margin-bottom:8rem;
  }

}

// Media Queries
@media (max-width:767px) {

  #eurasianet{
    padding:5rem 0 15rem 0;
    
    .full{
      margin-bottom:5rem;
    }

    .ipad{
      margin-bottom:4rem;
    }
  
  }

}
