#home{
  height:calc(100vh - 55px);
  width:100vw;
  position:relative;
  // border:5px solid orange;
  
  .video-wrapper{
    height:100%;
    width:100%;
    // border:5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    video{
      // border:5px solid red;
      height:100%;
      transform: rotate(180deg);
    }
    
    @media screen and (orientation:portrait) {
    
      video{
        height:auto;
        width:170%;
      }
    
    }
  
  }
    
}

//Media Queries
@media (max-width:768px) {
  
  #home{
    height:calc(100vh - 50px);
  }
  
}
