// Project Information Button
.information{
  position:fixed;
  bottom:2rem;
  right:3rem;
  @include bold();
  background: lighten(#000, 15%);
  color:#fff;
  height:26px;
  width:26px;
  border-radius: 50%;
  font-size:14px;
  line-height:1.8;
  border:2px solid #fff;

  &:hover,
  &:focus,
  &:active:focus,
  &.active:focus{
    color:#fff;
    background: lighten(#000, 15%);
  }

}

// Modal
.modal{

}

.modal-dialog{
  width: 350px;
  max-width: 350px;
}

.modal-content{
  border:0px;
}
