// Project Information Button
.information{
  position:fixed;
  bottom:2rem;
  right:3rem;
  @include bold();
  background: lighten(#000, 15%);
  color:#fff;
  height:27px;
  width:27px;
  border-radius: 50%;
  font-size:14px;
  line-height:2;
  border:2px solid #fff;

  &:hover,
  &:focus,
  &:active:focus,
  &.active:focus{
    color:#fff;
    background: lighten(#000, 15%);
  }

}

// Modal
.modal-open {
  padding-right: 0 !important;
}
html {
  overflow-y: scroll !important;
}

.modal{
  padding:0 2rem !important;
}

.modal-dialog{
  max-width: 350px;
  margin: 30px auto;
}

.modal-content{
  border:0px;
}
