// Project Information Button
.page-top-fixed-wrapper{
  position:fixed;
  width:100%;
  top:3rem;
  padding-right:4rem;
  // background:red;
  z-index:300;
  display: flex;
  justify-content: flex-end;
  
  @media (max-width:767px) {
    padding-right:2rem;
  }

  .information{
    background: #000;
    color:#fff;
    height:24.5px;
    width:24.5px;
    font-size:16px;
    border-radius: 50%;
    line-height:1.1;
    padding-bottom:4px;
    padding-right:1px;
    display: flex;
    align-items:center;
    justify-content: center;
    @include gitan-italic();
    border:1px solid #fff;

    &:hover{
      opacity:1;
    }

  }
  
}

// Modal
.modal{
  padding:0 1.5rem !important;

  .modal-dialog{
    max-width: 550px;
    margin: 60px auto;
  }

  .modal-content{
    border:0px;
    border-radius:0px;
  }

  .modal-header{
    padding: 8px 25px 0 25px;
    border-bottom:0px;
    margin-bottom:-10px;

    .close {
      font-size: 28px;
      color: #000;
      margin-top:0;
      opacity: 1;
    }

  }

  .modal-body{
    font-size:16px;
    line-height: 1.4;
    padding: 0px 25px 20px 25px;
    
    a{
      transition:$transition-time;
      text-decoration: underline;
      color:#000;

      &:hover{
        opacity:.8;
      }
    }
    
  }
  
  ul{
    list-style: none;
    -webkit-padding-start: 0px;
    padding:0 !important;
    
    li{
      margin-bottom:10px;
    }
    
  }

  .item-title{
    @include gitan-bold();
  }
  
  //Media Queries
  @media (max-width:767px) {
    
    .modal-dialog{
      margin: 55px auto;
    }
    
  }

}
