// Code
#nmaahc{
  @include background-offwhite();
  padding:4rem 0 0 0;
  min-height: calc(100vh - 55px);
  position:relative;
  top:55px;

  .img-wrapper{
    margin-bottom:3.5rem;
  }

  .number{
    @include regular();
    margin-top:.8rem;
    font-size:14px;
    text-align: right;
    color:lighten(#000, 30%);
  }

  img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
    cursor: zoom-in;
  }
  
  .technical-row{
    background: #eee;
    padding:4.5rem 0;
  }

}

// Media Queries

@media (max-width:767px) {

  #nmaahc{
    top:50px;
    padding:3rem 0 0 0;
    
    img {
      cursor: default;
    }
    
  }

}
