//Fonts
@font-face{
  font-family:"Texgyreheros Bold";
  src: url('/media/typographic-interventions/fonts/texgyreheros-bold.otf');
}

@font-face{
  font-family:"Texgyreheros Bold Italic";
  src: url('/media/typographic-interventions/fonts/texgyreheros-bolditalic.otf');
}

@font-face{
  font-family:"Texgyreheros Regular";
  src: url('/media/typographic-interventions/fonts/texgyreheros-regular.otf');
}

@font-face{
  font-family:"Texgyreheros Italic";
  src: url('/media/typographic-interventions/fonts/texgyreheros-italic.otf');
}

@font-face{
  font-family:"Texgyreheros Condensed Bold";
  src: url('/media/typographic-interventions/fonts/texgyreheroscn-bold.otf');
}

@font-face{
  font-family:"Texgyreheros Condensed Bold Italic";
  src: url('/media/typographic-interventions/fonts/texgyreheroscn-bolditalic.otf');
}

@font-face{
  font-family:"Texgyreheros Condensed Regular";
  src: url('/media/typographic-interventions/fonts/texgyreheroscn-regular.otf');
}

@font-face{
  font-family:"Texgyreheros Condensed Regular Italic";
  src: url('/media/typographic-interventions/fonts/texgyreheroscn-italic.otf');
}

// Variables
$bold:'Texgyreheros Bold', sans-serif;
$bold-italic:'Texgyreheros Bold Italic', sans-serif;
$regular:'Texgyreheros Regular', sans-serif;
$italic:'Texgyreheros Italic', sans-serif;
$bold-condensed:'Texgyreheros Condensed Bold', sans-serif;
$bold-italic-condensed:'Texgyreheros Condensed Bold Italic', sans-serif;
$regular-condensed:'Texgyreheros Condensed Regular', sans-serif;
$regular-italic-condensed:'Texgyreheros Condensed Regular Italic', sans-serif;

// Code
#typographic-interventions{
  font-family:$regular;
  margin:300px 0;

  .container-fluid{
    margin:0 50px 30px 50px;
    position:relative;
  }

  .building{
    margin-bottom:8rem;

    h5{
      font-family:$bold;
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: 0.25em;
      margin-bottom:2.5rem;
      padding-top:5rem;
    }

    .text-info{
      color:#000;
      font-family:$italic;
      font-size: 16px;
      line-height:1.75em;
      max-width:250px;
      float:right;
      letter-spacing: 0.01em;
    }

    .align-right{
      text-align: right;
    }

    .text-description{
      color:#000;
      font-family:$regular;
      font-size:17.5px;
      line-height:1.5em;
      letter-spacing: 0.01em;
    }

  }

  .container-fluid:before{
    content:"";
    position:absolute;
    left:15px;
    width:calc(100% - 30px);
    height:1px;
    background:lighten(#000, 92%);
  }

  .one{
  font-family:$bold;
  }

  .two{
  font-family:$bold-italic;
  }

  .three{
  font-family:$regular;
  }

  .four{
  font-family:$italic;
  }

  .five{
  font-family:$bold-condensed;
  }

  .six{
  font-family:$bold-italic-condensed;
  }

  .seven{
  font-family:$regular-condensed;
  }

  .eight{
  font-family:$regular-italic-condensed;
  }

  @media (max-width:767px) {

  }

}
