@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

// Typography

svg .st {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

svg .st {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

svg .st {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

svg .st {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

svg .st {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

//Variables
$background:lighten(#DCE0E5, 5%);

// Code
#typographic-portrait{
  height: 100%;

  .portrait-wrapper {
  height: 100%;
  background: $background;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  text-rendering: optimizeSpeed;
  user-select: none;
  }

  svg{
    height: 100%;
  }

}

/* Media Queries
==============================================================================*/

// @media (max-width: 57em) {
//
//   .svg-portrait{
//   height: auto;
//   width: 100%;
//   }
//
// }
//
// @media (max-width: 48em) {
//
//   .svg-portrait{
//   width: 95%;
//   }
//
// }
//
// @media screen and (max-width: 27em) {
//
//   .svg-portrait{
//   width: 85%;
//   }
//
// }
