//Fonts
@font-face{
  font-family:"Texgyreheros Bold";
  src: url('/media/typographic-interventions/fonts/texgyreheros-bold.otf');
}

@font-face{
  font-family:"Texgyreheros Bold Italic";
  src: url('/media/typographic-interventions/fonts/texgyreheros-bolditalic.otf');
}

@font-face{
  font-family:"Texgyreheros Regular";
  src: url('/media/typographic-interventions/fonts/texgyreheros-regular.otf');
}

@font-face{
  font-family:"Texgyreheros Italic";
  src: url('/media/typographic-interventions/fonts/texgyreheros-italic.otf');
}

@font-face{
  font-family:"Texgyreheros Condensed Bold";
  src: url('/media/typographic-interventions/fonts/texgyreheroscn-bold.otf');
}

@font-face{
  font-family:"Texgyreheros Condensed Bold Italic";
  src: url('/media/typographic-interventions/fonts/texgyreheroscn-bolditalic.otf');
}

@font-face{
  font-family:"Texgyreheros Condensed Regular";
  src: url('/media/typographic-interventions/fonts/texgyreheroscn-regular.otf');
}

@font-face{
  font-family:"Texgyreheros Condensed Regular Italic";
  src: url('/media/typographic-interventions/fonts/texgyreheroscn-italic.otf');
}

// Variables
$bold:'Texgyreheros Bold', sans-serif;
$bold-italic:'Texgyreheros Bold Italic', sans-serif;
$regular:'Texgyreheros Regular', sans-serif;
$italic:'Texgyreheros Italic', sans-serif;
$bold-condensed:'Texgyreheros Condensed Bold', sans-serif;
$bold-italic-condensed:'Texgyreheros Condensed Bold Italic', sans-serif;
$regular-condensed:'Texgyreheros Condensed Regular', sans-serif;
$regular-italic-condensed:'Texgyreheros Condensed Regular Italic', sans-serif;

// Code
#typographic-interventions{
  font-family:$regular;
  margin:300px 0;

  .building-intro{
    margin-bottom:30px;
  }

  .building{
    margin-bottom:10rem;

    .title-container{
      background:#000;
    }

    h5{
      font-family:$bold;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 0.2em;
      color:#fff;
      margin-top:5px;
      margin-bottom:5px;
    }

    .text-info{
      color:lighten(#000, 20%);
      font-family:$italic;
      font-size: 16px;
      line-height:1.6em;
      max-width:220px;
      letter-spacing: 0.01em;
    }

    .align-right{
      text-align: right;
      float:right;
    }

    .text-description{
      color:#000;
      font-family:$regular;
      font-size:17.5px;
      line-height:1.45em;
      letter-spacing: 0.01em;
    }

  }

  .container-fluid-sc{
    position:relative;
  }

  .container-fluid-sc:after{
    background:#57585D;
    content:"";
    width:100%;
    height:calc(100% - 34px);
    top:0;
    left:0;
    position:absolute;
    display:block;
  }



  @media (max-width:767px) {

  }

}
