//Fonts
@font-face{
  font-family:"Open Sans Light";
  src: url('/media/typographic-portrait/fonts/OpenSans-Light.ttf');
}

@font-face{
  font-family:"Open Sans Regular";
  src: url('/media/typographic-portrait/fonts/OpenSans-Regular.ttf');
}

@font-face{
  font-family:"Open Sans Bold";
  src: url('/media/typographic-portrait/fonts/OpenSans-Bold.ttf');
}

@font-face{
  font-family:"Open Sans Extra-Bold";
  src: url('/media/typographic-portrait/fonts/OpenSans-ExtraBold.ttf');
}


//Typography
svg .st1 {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: 300;
}

svg .st8 {
  font-family: 'Open Sans Regular', sans-serif;
  // font-weight: 400;
}

svg .st17 {
  font-family: 'Open Sans Bold', sans-serif;
  // font-weight: 700;
}

svg .st14 {
  font-family: 'Open Sans Extra-Bold', sans-serif;
  // font-weight: 800;
}

.st13,
.st18,
.st22,
.st23,
.st29,
.st30,
.st36,
.st37,
.st42 {
  letter-spacing: -0.073em;
}

.st16,
.st41 {
  letter-spacing: -0.11em;
}

.st32,
.st46 {
  letter-spacing: 0.01em;
}

.st0,
.st11,
.st44 {
  letter-spacing: 0.03em;
}

.st19,
.st31,
.st33 {
  letter-spacing: 0.04em;
}

.st24 {
  letter-spacing: 0.2em;
}

.st3 {
  letter-spacing: 0.29em;
}

//Variables
$background:#DCE0E5;

// Code
#typographic-portrait{
  height: 100%;

  .portrait-wrapper {
  height: 100%;
  background: $background;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  text-rendering: optimizeSpeed;
  -webkit-user-select: none;
          user-select: none;
  // border:3px solid red;
  }

  svg{
    height:100%;
    width:auto;
    max-height: 100%;
    // border:3px solid blue;
  }

  //Media Queries
  @media (max-width: 1232px) {

    svg{
      height: auto;
      width: 100%;
    }

  }

}
