// Variables
$background:#ccc;

// Code
#what-you-say{
  background:$background;
  min-height: 100vh;
  padding:7rem 0;

  .bottom-background{
    background: #fff;
    min-height:50vh;
    padding:3rem;
  }

  .bottom-row{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
  }

  .frames{
    margin:0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    width: 120px;

    img{
      // mix-blend-mode:color-burn;
      // filter:grayscale(1);
      width: 100%;
      cursor: zoom-in;
      border:1px solid #ccc;

      &:hover,
      &:active {
          mix-blend-mode:normal;
          // filter:none;
      }
    }

  }

  .number{
    @include regular();
    margin-top:.8rem;
    font-size:13px;
    text-align: right;
  }

  .text{
    font-size:14px;
  }

  .top-row{
    margin-bottom:7rem;

    .video-wrapper{
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      width: 100%;
    }

    iframe{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: zoom-in;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .4);
    }

  }

}

@media (max-width:767px) {

  #what-you-say{
    padding:5rem 0;
  }

}

@media (max-width:390px) {

  #what-you-say{

    .bottom-row{
      justify-content:center;
    }

    .frames{
      margin:0 .5rem 1rem .5rem;
    }

  }

}
