#work{
  @include background-offwhite();

  .projects-wrapper{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px 400px;
  }
  
  .project{
    text-decoration: none;
    transition: $transition-time;
    border: 1px solid #ddd;
    color:#000;
    
    &:hover{
      .image{
         filter: contrast(1) grayscale(0);
       }
       h4,
       .subtitle,
       .type {
        opacity: .8;
      }
    }
    
    .image{
      background:#eee;
      height:200px;
    }
    
    .text{
      padding:1rem;
      display: flex;
      flex-direction:column;
      height:200px;
    }
    
    h4{
      @include gitan-bold();
      font-size:16.5px;
      margin-bottom:5px;
    }
    
    .subtitle{
      @include gitan-italic();
      font-size:16.5px;
    }
    
    .category{
      @include gitan-regular();
      margin-top:auto;
    }
    
  }
  
}




// Code
#b-side{
  min-height: calc(100% - 3.5rem);

  .project{
    padding-top:2rem;

    .image{
      position:relative;
      height:70px;
      width:70px;
      border-radius: 50%;
      transition: $transition-time;
      margin:0 auto;
      filter: contrast(1.5) grayscale(1);
    }
    
    .image-shadow{
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height:100%;
      border-radius: 50%;
      box-shadow: inset 0 0 15px lighten(#000, 35%);
      z-index: 10;
    }
    
    h4{
      @include bold();
      color:lighten(#000, 15%);
      margin:0px 0 3px 0;
      line-height: 1.2;
      font-size:19.5px;
    }

    .subtitle{
      font-size:17px;
      @include regular();
      color:lighten(#000, 25%);
    }

  }
  
  //Media Queries
  @media (max-width:767px) {
    
    .projects-wrapper{
      padding-top:calc(3rem + 55px);
    }
    
  }
  
}
