#work{
  @include background-offwhite();

  .projects-wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-auto-rows:auto;
    grid-gap:7px;
    padding:3rem 4rem 15rem 4rem;
  }
  
  .project{
    display: block;
    text-decoration: none;
    transition: $transition-time;
    color:#000;
    background: #fff;
    position:relative;
    z-index:10;
    // border:1px solid red;
    
    // &:hover{
    //   .image{
    //      filter: contrast(1) grayscale(0);
    //    }
    //    h4,
    //    .subtitle,
    //    .type {
    //     opacity: .8;
    //   }
    // }
    //
    
    .image{
      height:200px;
      // border:1px solid orange;
      filter: contrast(1) grayscale(1);
    }
    
    .text{
      // border:1px solid green;
      padding: 1rem;
    }
    
    h4{
      @include gitan-bold();
      margin-bottom:5px;
      font-size: 15.5px;
      line-height: 1.2;
    }
    
    .subtitle{
      @include gitan-italic();
      font-size: 15.5px;
      line-height: 1.2;
    }
    
    .category{
      @include gitan-regular();
      text-transform: uppercase;
      letter-spacing: .2rem;
      font-size:8.5px;
    }
    
  }
  
  //Media Queries
  @media (max-width:768px) {
    
  }
  
}
